[submodule "third-party/fmt"]
	path = third-party/fmt
	url = https://github.com/fmtlib/fmt
[submodule "third-party/imgui"]
	path = third-party/imgui
	url = https://github.com/ocornut/imgui
    branch = docking
[submodule "third-party/imgui-sfml"]
	path = third-party/imgui-sfml
	url = https://github.com/eliasdaler/imgui-sfml
